<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grupo9pdm115">

    <application
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Solicitud.GestionarSolicitudesEncargado"></activity>
        <activity android:name=".Activities.DetalleReserva.AsignarLocalDetalleReserva" />
        <activity android:name=".Activities.DetalleReserva.NuevoDetalleReservaEspecial" />
        <activity android:name=".Activities.Solicitud.EditarSolicitud" />
        <activity android:name=".Activities.Solicitud.NuevoSolicitud" />
        <activity android:name=".Activities.Solicitud.GestionarSolicitud" />
        <activity android:name=".Activities.Rol.EditarRol" />
        <activity android:name=".Activities.DetalleReserva.NuevoDetalleReserva" />
        <activity android:name=".Activities.DetalleReserva.GestionarDetalleReserva" />
        <activity android:name=".Activities.DetalleReserva.EditarDetalleReserva" />
        <activity android:name=".Activities.EventoEspecial.NuevoEventoEspecial" />
        <activity android:name=".Activities.EventoEspecial.GestionarEventoEspecial" />
        <activity android:name=".Activities.EventoEspecial.EditarEventoEspecial" />
        <activity android:name=".Activities.Rol.NuevoRol" />
        <activity android:name=".Activities.Rol.GestionarRol" />
        <activity android:name=".Activities.ErrorDeUsuario" />
        <activity android:name=".Activities.Horario.NuevoHorario" />
        <activity android:name=".Activities.Horario.EditarHorario" />
        <activity android:name=".Activities.Horario.GestionarHorario" />
        <activity android:name=".Activities.AccesoUsuario.NuevoAccesoUsuario" />
        <activity android:name=".Activities.AccesoUsuario.GestionarAccesoUsuario" />
        <activity android:name=".Activities.Dia.NuevoDia" />
        <activity android:name=".Activities.Dia.EditarDia" />
        <activity android:name=".Activities.Dia.GestionarDia" />
        <activity android:name=".Activities.Encargado.EditarEncargado" />
        <activity android:name=".Activities.Encargado.NuevoEncargado" />
        <activity android:name=".Activities.Encargado.GestionarEncargado" />
        <activity android:name=".Activities.Coordinacion.EditarCoordinacion" />
        <activity android:name=".Activities.Coordinacion.NuevoCoordinacion" />
        <activity android:name=".Activities.Coordinacion.GestionarCoordinacion" />
        <activity android:name=".Activities.Usuario.EditarUsuario" />
        <activity android:name=".Activities.Usuario.NuevoUsuario" />
        <activity android:name=".Activities.Usuario.GestionarUsuario" />
        <activity android:name=".Activities.CicloMateria.EditarCicloMateria" />
        <activity android:name=".Activities.CicloMateria.NuevoCicloMateria" />
        <activity android:name=".Activities.CicloMateria.GestionarCicloMateria" />
        <activity android:name=".Activities.Grupo.EditarGrupo" />
        <activity android:name=".Activities.Grupo.NuevoGrupo" />
        <activity android:name=".Activities.TipoGrupo.NuevoTipoGrupo" />
        <activity android:name=".Activities.TipoGrupo.TipoGrupoActualizar" />
        <activity android:name=".Activities.TipoGrupo.GestionarTipoGrupo" />
        <activity android:name=".Activities.Grupo.GestionarGrupo" />
        <activity android:name=".Activities.TipoGrupo.EditarTipoGrupo" />
        <activity android:name=".Activities.Local.EditarLocal" />
        <activity android:name=".Activities.Local.NuevoLocal" />
        <activity android:name=".Activities.Local.GestionarLocal" />
        <activity android:name=".Activities.TipoLocal.EditarTipoLocal" />
        <activity android:name=".Activities.TipoLocal.NuevoTipoLocal" />
        <activity android:name=".Activities.TipoLocal.GestionarTipoLocal" />
        <activity android:name=".Activities.Materia.EditarMateria" />
        <activity android:name=".Activities.Materia.NuevoMateria" />
        <activity android:name=".Activities.Materia.GestionarMateria" />
        <activity android:name=".Activities.Unidad.EditarUnidad" />
        <activity android:name=".Activities.Unidad.NuevoUnidad" />
        <activity android:name=".Activities.Unidad.GestionarUnidad" />
        <activity android:name=".Activities.Feriado.NuevoFeriado" />
        <activity android:name=".Activities.Feriado.GestionarFeriado" />
        <activity android:name=".Activities.Feriado.EditarFeriado" />
        <activity android:name=".Activities.Ciclo.EditarCiclo" />
        <activity android:name=".Activities.Ciclo.NuevoCiclo" />
        <activity android:name=".Activities.Ciclo.GestionarCiclo" />
        <activity android:name=".Activities.IniciarSesion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>