<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grupo9pdm115">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditarUsuario"></activity>
        <activity android:name=".NuevoUsuario" />
        <activity android:name=".GestionarUsuario" />
        <activity android:name=".EditarCicloMateria" />
        <activity android:name=".NuevoCicloMateria" />
        <activity android:name=".GestionarCicloMateria" />
        <activity android:name=".EditarGrupo" />
        <activity android:name=".NuevoGrupo" />
        <activity android:name=".NuevoTipoGrupo" />
        <activity android:name=".GestionarTipoGrupo" />
        <activity android:name=".GestionarGrupo" />
        <activity android:name=".EditarTipoGrupo" />
        <activity android:name=".EditarLocal" />
        <activity android:name=".NuevoLocal" />
        <activity android:name=".GestionarLocal" />
        <activity android:name=".EditarTipoLocal" />
        <activity android:name=".NuevoTipoLocal" />
        <activity android:name=".GestionarTipoLocal" />
        <activity android:name=".EditarMateria" />
        <activity android:name=".NuevoMateria" />
        <activity android:name=".GestionarMateria" />
        <activity android:name=".EditarUnidad" />
        <activity android:name=".NuevoUnidad" />
        <activity android:name=".GestionarUnidad" />
        <activity android:name=".NuevoFeriado" />
        <activity android:name=".GestionarFeriado" />
        <activity android:name=".EditarFeriado" />
        <activity android:name=".EditarCiclo" />
        <activity android:name=".NuevoCiclo" />
        <activity android:name=".GestionarCiclo" />
        <activity android:name=".iniciarSesion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>